<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.scss') }}">
    <title>My App</title>
</head>

<body>
    <h1>WELCOME TO MY APP</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quasi architecto neque vel quo numquam
        quisquam sunt obcaecati eligendi eaque nisi labore odit, molestiae dolorem non et animi est saepe.</p>
</body>

</html>