{% extends 'base.html'%}


{% block head %}
<title>Abbas Todo</title>
{% endblock %}




{% block body %}
<div class="content">
        <h1>Todo List</h1>

        {% if todo | length < 1 %}
        <h3>There are no task, create one here</h3>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Action</th>
            </tr>
            {% for task in todo%}
            <tr>
                <td>{{task.task}}</td>
                <td>{{task.date}}</td>
                <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/edit/{{task.id}}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <form action="/add" method='POST'>
            <input type="text" name="task" id="task">        
            <input type="submit" value="Add Task" id="btn_add">    
        </form>
    </div>
{% endblock %}
