{% extends 'base.html'%}


{% block head %}
<title>Abbas Todo</title>
{% endblock %}




{% block body %}
<div class="content">
        <h1>Todo List</h1>

        {% if todo | length < 1 %}
        <h3>There are no task, create one here</h3>
        {% else %}
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Content</td>
                <td>Data</td>
                <td>More</td>
            </tr>
        </table>
        {% endif %}
        <form action="/add" method='POST'>
            <input type="text" name="task" id="task">        
            <input type="submit" value="Add Task" id="btn_add">    
        </form>
    </div>
{% endblock %}
